<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />	
		<result property="boardContent" column="BOARD_CONTENT" />	
		<result property="boardWriter" column="BOARD_WRITER" />	
		<result property="boardFilename" column="BOARD_FILENAME" />	
		<result property="boardFilepath" column="BOARD_FILEPATH"/>
  		<result property="boardFilelength" column="BOARD_FILELENGTH"/>
  		<result property="bCreateDate" column="B_CREATE_DATE"/>
  		<result property="bUpdateDate" column="B_UPDATE_DATE"/>
  		<result property="bStatus" column="B_STATUS"/>
  		<result property="boardType" column="BOARD_TYPE"/>
	</resultMap>
	
	<select id="searchFreeBoardByKeyword" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE B_STATUS = 'Y' AND BOARD_TYPE = 'freeBoard'
		<if test="searchCondition == 'all'">	
		AND (BOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' OR  BOARD_WRITER LIKE '%'|| #{searchKeyword}||'%' OR  BOARD_TITLE LIKE '%'||#{searchKeyword}||'%') ORDER BY BOARD_NO DESC
		</if>
		<if test="searchCondition=='content'">
		AND BOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' ORDER BY BOARD_NO DESC
		</if>
		<if test="searchCondition=='writer'">
		AND BOARD_WRITER LIKE '%'|| #{searchKeyword}||'%' ORDER BY BOARD_NO DESC
		</if>
		<if test="searchCondition=='title'">
		AND BOARD_TITLE LIKE '%'||#{searchKeyword}||'%' ORDER BY BOARD_NO DESC
		</if>
	</select>
	
	<select id="getFreeBoardListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL WHERE BOARD_TYPE = 'freeBoard'
		<if test="searchCondition == 'all'">	
		AND (BOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' OR  BOARD_WRITER LIKE '%'|| #{searchKeyword}||'%' OR  BOARD_TITLE LIKE '%'||#{searchKeyword}||'%')
		</if>
		<if test="searchCondition=='content'">
		AND BOARD_CONTENT LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition=='writer'">
		AND BOARD_WRITER LIKE '%'|| #{searchKeyword}||'%' 
		</if>
		<if test="searchCondition=='title'">
		AND BOARD_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<select id="selectFreeBoardList" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE B_STATUS = 'Y' AND BOARD_TYPE = 'freeBoard' ORDER BY BOARD_NO DESC
	</select>
	
</mapper>