<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.cosmarket.member.domain.MemberBuyer" alias="MemberBuyer"/>
		<typeAlias type="kr.co.cosmarket.member.domain.MemberSeller" alias="MemberSeller"/>
		<typeAlias type="kr.co.cosmarket.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="kr.co.cosmarket.board.domain.Board" alias="Board"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
	</mappers>
</configuration>